<h1>My lists</h1>

<div style="margin: 12px">
<%= link_to 'Create a movie list', new_list_path, class: "btn btn-primary" %>
</div>

<div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
          <div class="card-category" data-aos="zoom-in">
            <strong><%= list.name %></strong>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>




