.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}


.container {
  width: 900px;
  margin: auto;
  display: block;
  text-align:center;
  color: white;

}

#text {
  text-shadow: 1px 1px 2px black;
}
